html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}
h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}
body {
   background: url(../img/bkimg.jpg);
   background-attachment: fixed;
   max-width: 1920px;
}
button{
    -webkit-appearance: none;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;    ;
    box-sizing: content-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    outline: none;
}

input{
    font-weight: bold;
    
}
.date {
    margin-top: 50px;
}
.date__input {
    background-color: rgba(255, 255, 255, 0.500);
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 60px;
}
.titleOf{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12pt;
    text-align: center;
}

.date, .status, .title, .description, .contact, .LPR_name, .segment{
    margin: 15px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}
.submit__btn {
    margin-left: 15px;
    width: 100px;
    height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: rgb(98, 208, 228);
}
.title__text, .contact_text {
    background-color: rgba(255, 255, 255, 0.500);
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 60px;
}
.description__text {
    background-color: rgba(255, 255, 255, 0.500);
    padding: 8px;
    border: none;
    border-radius: 60px;
    width: unset !important;
}
.LPR_name__text {
    background-color: rgba(255, 255, 255, 0.500);
    padding: 8px;
    border: none;
    border-radius: 60px;
    width: unset;
}
