html {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.829);
}
h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}
body {
   background-color: rgb(50,54,57);
   background-attachment: fixed;
   max-width: 1920px;
   color: rgba(255, 255, 255, 0.829);
}
button{
    -webkit-appearance: none;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    /* sasha lox */
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;    ;
    box-sizing: content-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    outline: none;
}

input{
    font-weight: bold;
    
}
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}
    
::-webkit-scrollbar-track {
    background-color:rgba(166, 172, 179, 0);
}
    
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color:rgb(91, 102, 93);
}
 
::-webkit-scrollbar-thumb:hover{
    background-color:rgb(91, 102, 93);
}
    
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}
    
::-webkit-scrollbar{
    width: 7px;
}
.id{
    margin: 5px;
}

.date__input {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 60px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.titleOf{
    display: flex;
    width: 80px;
    padding: 9px;
    margin-bottom: 8px;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12px;
    align-items: center;
    text-align: center;
}

.save__btn, .sms__btn, .back__btn{
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    width: 100px;
    height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    cursor: pointer;
}
 .contact_text {
    width: 35%;
    height: 30px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    border: none;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.829);
    margin-right: 10px;
    margin-bottom: 10px; 
}

.LPR_name__text, .title__text{
    width: 95%;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 8px;
    border: none;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.829);
    max-height: 400px;
    overflow: auto;
}
.talk__text, .description__text, .sms__text{
    width: 95%;    
    min-height: 120px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 8px;
    border: none;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.829);
    max-height: 400px;
    overflow: auto;
}
.entry{
    width:100%;
}
.block{
	vertical-align:top;
    display: inline-block;
    min-height:705px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
.documents{
    margin-top: 50px;
}
.link_on_doc{
    display: block;
    color: #fff;
    font-weight: bold;
    margin:10px;
}
input[type="text"], textarea[type="text"]{
    background-color: rgba(166, 172, 179, 0.151);

}

.left, .rigth, .center{
    width: 25%;
}
.function{
    width:15%;
}
.status, .talk{
    margin-bottom: 10px;
    margin-right:10px; 
}
.status__button1, .status__button2, .status__button3, .status__button4{
   display: none;
}
.status__label{
    display: inline-block;
    text-align: center;
    padding: 3px;
    padding-top:8px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 135px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.sms__text{
    margin-top:10px;
    margin-bottom:10px;
}
.status__button1:checked + .status__label{
    background-color:rgba(0, 128, 0, 0.5);
}
.status__button2:checked + .status__label{
    background-color:rgba(255, 255, 0, 0.5);
}
.status__button3:checked + .status__label{
    background-color:rgba(255, 0, 0, 0.5);
}
.status__button4:checked + .status__label{
    background-color:rgba(128, 128, 128, 0.5);
}
.segment_checkbox{
    display: none;
}
.segment_label{
    color: rgba(255, 255, 255, 0.37);
    cursor: pointer;
}
.segment_checkbox:checked + .segment_label{
    color: rgba(255, 255, 255, 0.829);
}


