html {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.829);
}
h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}
body {
   background-color: rgb(50,54,57);
   background-attachment: fixed;
   max-width: 1920px;
   color: rgba(255, 255, 255, 0.829);
}
button{
    -webkit-appearance: none;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    /* sasha lox */
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;    ;
    box-sizing: content-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    outline: none;
}

input{
    font-weight: bold;
    
}
/* /* #rad1:checked+label{
    background-color: red;
    border: 1px solid #000000;
    color:black;
} 
#rad2:checked+label{
    background-color: yellow;
    border: 1px solid #000000;
    color:black;
} 
#rad3:checked+label{
    background-color: green;
    border: 1px solid #000000;
    color:black;
} 
#rad4:checked+label{
    background-color: gray;
    border: 1px solid #000000;
    color:black; 
}  */

.green{
    background-color: green;
    border-radius: 25px;

}
.id{
    margin: 5px;
}
.date {
    margin-top: 50px;
}
.date__input {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 60px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.titleOf{
    display: flex;
    width: 80px;
    padding: 9px;
    margin-bottom: 8px;
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12px;
    align-items: center;
    text-align: center;
}

.date, .status, .title, .description, .contact, .LPR_name, .segment{
    margin: 15px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.submit__btn {
    margin-left: 15px;
    width: 100px;
    height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: rgb(98, 208, 228);
}
 .contact_text {
    width: 35%;
    height: 30px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border: none;
    border-radius: 20px;
    resize: none;
    overflow-y: auto;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.829);
    margin-right: 10px;
    margin-bottom: 10px; 
}

.LPR_name__text, .description__text, .title__text {
    width: 70%;
    min-height: 120px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border: none;
    border-radius: 20px;
    resize: none;
    overflow-y: auto;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.829);
    max-height: 400px;
}

