html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}
h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}
li {
    list-style-type: none;
}
ul {
    margin-left: 0; 
    padding-left: 0;
}
body {
   background: url(../img/bkimg.jpg) no-repeat;
   background-attachment: fixed;
   max-width: 1920px;
}
button{
    -webkit-appearance: none;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;    ;
    box-sizing: content-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}
input, 
button, 
button:active, 
button:focus {
    outline: none;
}
.nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(98, 208, 228);
}
.nav_input {
    margin: 10px auto;
    margin-left: 30px;
    padding-left: 10px;
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 50px;

}
.nav_element {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin: 10px auto;
    margin-left: 10px;
    padding: 5px;
    transition: .5s;
}
.nav_element:hover{
    border: 2px solid white;
    border-radius: 25px;
    transform: scale(1.02);
    transition: .1s;
}

.content {
    margin: 25px auto;
    margin-top: 70px;
    min-width: 1400px;
    max-width: 1920px;
}
.entry{
    margin: 5px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    transition: .5s;
}
.sample{
    margin: 5px;
    padding: 15px;
    background-color: rgba(98, 208, 228, 0.500);
    border-radius: 25px;
}
.sample span{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12pt;
    display: inline-block;
    max-width: 200px;
    text-align: center;
}
.entry span{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12pt;
    display: inline-block;
    max-width: 200px;
    font-weight: bold;
}

.entry:hover{
    border: 5px solid rgb(98, 208, 228);
    transform: scale(1.02);
    transition: .3s;
}
.elastic li.hide {
    display: none;
}
.title, .contact, .LPR_name, .segment{
    width:180px;
}
.description{
    width:200px;
}
.id{
    width: 18px;
}
.date{
    width: 60px;
}
.status{
    width: 140px;
}

.red{
    color:red;
}

.yellow{
    color:yellowgreen;
}

.green{
    color:green;
}

.ok{
    background-image:url(../img/ok.ico); 
    width:16px; 
    height:16px; 
    display:inline-block;
    vertical-align:bottom;
}