html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    
}
h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}
li {
    list-style-type: none;
}
ul {
    margin-left: 370px; 
    padding-left: 0;
}
body {
   background-color: rgb(50,54,57);
   background-attachment: fixed;
   max-width: 1920px;
   color: #fff;
}
.filter {
    position: fixed;
    left: 0;
    float: left;
    width: 25%;
    height: 100%;
    background-color: rgba(50, 54, 57, 0.5);
}
.filter__segment_box {
    float: left;
    margin: 5px;
}

.filter__status_title, .filter__segment_title {
    margin: 5px;
}
.filter__status_btn {
    margin: 5px auto;
    padding: 3px;
    font-weight: 700;
    color: #333;
    width: 130px;
    height: 30px;
    border-radius: 25px;
    background-color: #fff;
}
.filter__segment, .filter__status {
    margin-left: 10px;
}
button{
    -webkit-appearance: none;
    text-rendering: auto;
    color: rgb(255, 255, 255);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;    ;
    box-sizing: content-box;
    margin: 0em;
    font: 400 14px Arial;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}
input, 
button, 
button:active, 
button:focus {
    outline: none;
}
.nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}
.nav_input {
    margin: 10px auto;
    margin-left: 30px;
    padding-left: 10px;
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 50px;

}
.nav_element {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 10px auto;
    margin-left: 10px;
    padding: 5px;
    transition: .5s;
}
.new_element, .stat {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);;
    background-color:#fff;
    padding: 7px;
    border-radius: 25px;
    font-size: 16px;
}
.entry_amount{
    margin-left: 5px; 
}
.datetime{
    position: fixed;
    margin: 15px;
    right: 0;
    font-size: 20px;
}
.content {
    margin: 25px auto;
    margin-top: 70px;
    min-width: 1400px;
    max-width: 1920px;
}
.entry{
    margin: 5px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    transition: .5s;
    color: #fff;
}
.sample{
    margin: 5px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    width:845px;
    
}
.sample span{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12pt;
    display: inline-block;
    max-width: 200px;
    text-align: center;
    color: #fff;
}
.entry span{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12pt;
    display: inline-block;
    max-width: 200px;
    font-weight: bold;
}

.hide{
    display: none;
}

.elastic li.hide {
    display: none;
}
.title, .contact, .LPR_name, .segment{
    width:180px;
}
.description{
    width:200px;
}
.id{
    width: 20px;
}
.date{
    width: 60px;
}
.status{
    width: 140px;
}
.red{
    background-color:rgba(255, 0, 0, 0.5);
}

.yellow{
    background-color:rgba(255, 255, 0, 0.5);
}

.green{
    background-color:rgba(0, 128, 0, 0.5);
}
.gray{
    background-color:rgba(128, 128, 128, 0.5);
}

.ok{
    background-image:url(../img/ok.ico); 
    width:16px; 
    height:16px; 
    display:inline-block;
    vertical-align:bottom;
}