html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}
h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}
li {
    list-style-type: none;
}
ul {
    margin-left: 0; 
    padding-left: 0; 
}
body {
   background: url(../img/bkimg.jpg);
   background-attachment: fixed;
}
button{
    -webkit-appearance: none;
    -webkit-writing-mode: vertical-lr !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;    ;
    box-sizing: content-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}
input, 
button, 
button:active, 
button:focus {
    outline: none;
}
.nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(98, 208, 228);
}
.nav__input {
    margin: 10px auto;
    margin-left: 30px;
    padding-left: 10px;
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 50px;

}
.nav__button {
    position: relative;
    left: -50px;
    color: #fff;
    border: none;
    border-radius: 60px;
    background-color: rgb(63, 63, 189);
    width: 75px;
    height: 32px;
}
.content {
    margin: 25px auto;
    margin-top: 70px;
}

.entry{
    margin: 5px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 25px;
}
 

.entry span{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12pt;
    display: inline-block;

}
.name_sotrudnik{
    width: 150px;
}
.status{
    width: 10px;
}
.otcenka{
    width: 10px;
}
.text{
    width: 150px;
}
.elastic li.hide {
    display: none;
}
