html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    
}
h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}
li {
    list-style-type: none;
}

body {
   background-color: rgb(50,54,57);
   background-attachment: fixed;
   max-width: 1920px;
   color: #fff;
}
::-webkit-scrollbar-track {
    background-color:rgba(166, 172, 179, 0);
}   
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color:rgb(91, 102, 93);
}
 
::-webkit-scrollbar-thumb:hover{
    background-color:rgb(91, 102, 93);
}
    
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}  
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar:hover{
    width: 15px;
}  
.filter {
    width: 370px;
    height: 100%;
    background-color: rgba(50, 54, 57, 0.5);
    float: left;
    margin-top: 100px
}
.filter__segment_box {
    float: left;
    margin: 5px;
}

.filter__status_title, .filter__segment_title {
    margin: 5px;
}
.filter__segment_title{
    cursor: pointer;
}
.filter__status_btn {
    margin: 5px auto;
    padding: 3px;
    font-weight: 700;
    color: #fff;
    width: 145px;
    height: 30px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.filter__segment, .filter__status {
    margin-left: 10px;
}
#btn1{
    border: solid green;
}
#btn2{
    
    border: solid yellow;
}
#btn3{
    border: solid red;
}
#btn4{
    border: solid gray;
}
button{
    -webkit-appearance: none;
    text-rendering: auto;
    color: rgb(255, 255, 255);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;    ;
    box-sizing: content-box;
    margin: 0em;
    font: 400 14px Arial;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}
input, 
button, 
button:active, 
button:focus {
    outline: none;
}
.nav {
    display: inline-block;
    top: 0;
    left: 0;
    position: fixed;
    min-width: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.nav_input {
    margin: 10px auto;
    margin-left: 15px;
    padding-left: 10px;
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 50px;

}
.nav_element {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 10px auto;
    margin-left: 10px;
    padding: 5px;
    transition: .5s;
}
.new_element, .stat {
    margin-top:35px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);;
    background-color:#fff;
    padding: 7px;
    border-radius: 25px;
    font-size: 16px;
}
.search_aum, .datatime_title{
    display: inline-block;
}
.datatime_title{
    margin-left: 15px;
    vertical-align: bottom;
    margin-bottom: 10px; 
}
.nav_btn{
    float: right;
    text-align: center;
    display: flex;
    height: 80px;
}
.entry_amount{
    margin-top:5px;
    margin-left: 15px;
    padding-left: 10px;
}
.content {
    margin: 25px auto;
    padding-left: 0;
    margin-top: 100px;
}
.entry{
    margin: 2px;
    padding: 5px;
    border-radius: 25px;
    transition: .5s;
    color: #fff;
    width: 880px;
    cursor: pointer;
}
.sample{
    margin: 5px;
    padding: 5px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    width:850px;
    margin-left: 25px;
    padding-right: 20px;
    
}
.sample span{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12pt;
    display: inline-block;
    max-width: 200px;
    text-align: center;
    color: #fff;
}
.entry_element{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12pt;
    display: inline-block;
    max-width: 200px;
    font-weight: bold;
}

.hide1{
    display: none;
}
.hide2{
    display: none;
}
.hide{
    display: none; 
}

.segment_sample{
    width:180px;
}
.title, .contact, .LPR_name, .segment_span{
    width:180px;
}
.description{
    width:200px;
}
.id{
    width: 25px;
}
.date{
    width: 60px;
}
.status{
    width: 140px;
}

.red{
    border:solid rgba(255, 0, 0, 0.5);
}
.yellow{
    border:solid rgba(255, 255, 0, 0.5);
}

.green{
    border:solid rgba(0, 128, 0, 0.5);
}
.gray{
    border:solid rgba(128, 128, 128, 0.5);
}

.red_filter{
    background-color: rgba(255, 0, 0, 0.5);
}
.yellow_filter{
    background-color: rgba(255, 255, 0, 0.5);
}

.green_filter{
    background-color: rgba(0, 128, 0, 0.5);
}
.gray_filter{
    background-color: rgba(128, 128, 128, 0.5);
}
.checkbox_sms{
}
.ok{
    background-image:url(../img/ok.ico); 
    width:16px; 
    height:16px; 
    display:inline-block;
    vertical-align:bottom;
}
.sms_block{
    margin-top:15px;
    margin-left: 15px;
}
.sms_text{
    width: 95%;    
    min-height: 120px;
    outline: none;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.9);
    padding: 8px;
    border: none;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;   
    max-height: 400px;
    overflow: auto;
}
.sms_btn{
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    width: 100px;
    height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    cursor: pointer;
}
.btn_off {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.1);
    cursor: auto;
}
.sms_block, .content, .filter{
    display: inline-block;
}
.select_all{
    margin-right: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);;
    background-color:#fff;
    padding: 7px;
    border-radius: 25px;
    font-size: 16px;
}
.sms_checkbox{
   height: 27px;
}